html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
}

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*
HEADER START(TEXT AND NAVIGATION)
*/

.header {
    height: 800px;
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.container {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
}

.header__top {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.header__top-logo {}

.header__top-btn {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.header__top-btn div {
    border: 2px solid #FFFFFF;
    width: 36px;
    height: 0px;
    margin: 12px auto 12px;
}

.header__content {
    margin-top: 100px;
}

.header__content-title {
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    line-height: 112px;
    width: 388px;
    margin-bottom: 40px;
}

.header__content-descr {
    width: 284px;
}

.header__content-btn {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    margin-top: 25px;
    display: inline-block;
    padding: 32px 52px;
}

.header__content-btn:hover {
    background: #770302;
    transition-duration: 1s;
}

/*
HEADER END(TEXT AND NAVIGATION)
*/

/*
HEADER SLIDER START
*/

.header__slider {}

.header__slider-item {
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* slick settings */

.header__slick-dots {
    position: relative;
    z-index: 4;
    margin: -65px auto 0;
    max-width: 1224px;
}

.header__slick-dots li {
    display: inline-block;
    margin: 0 10px;
}

.header__slick-dots button {
    font-size: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0B0B0B;
    outline: none;
    border: none;
}

.header__slick-dots .slick-active button {
    background-color: #fff;
}

/* Indicators part start*/

.indicators {
    padding: 105px 0 100px;
    background: #0B0B0B;
}

.indicators__items {
    display: flex;
    justify-content: space-around;
}

.indicators__item {
    height: 200px;
    width: 251px;
    text-align: center;
}

.indicators__item-title {}

.indicators__item-number {
    font-family: 'Roboto', sans-serif;
    margin-top: 35px;
    font-size: 96px;
    line-height: 112px;
}

.indicators__item-number span {
    margin-left: -20px;
    font-size: 24px;
    line-height: 28px;
}

.indicators__item-descr {
    color: #B70021;
}

.symbol__plus-indicators span::before {
    content: "+";
    position: relative;
    top: -59px;
    left: 10px;
}

/* Indicators part end*/

/*Video part start*/

.video {
    padding-bottom: 100px;
    background: #0B0B0B;
}

.video__inner {}

/*Video part end*/

/*Features part start*/

.features {
    background: #0B0B0B;
}

.features__speed__1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.features__speed-content {}

.features__speed-content__title {
    color: #B70021;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 110px;
}

.features__speed-content__descr {
    width: 303px;
    height: 112px;
}

.features__speed-content__img {}

.features__speed__2 {
    display: flex;
    align-items: center;
    position: relative;
}

.features__speed-content__list {
    margin-left: 58px;
    width: 251px;
    height: 224px;
}

.features__speed-content__list-item {}

.features__speed-content__list__subtitle {
    margin-top: 40px;
    color: #B70021;
    font-size: 36px;
    line-height: 42px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: auto;
}

/*Features part end*/

/*Design part start*/

.design {
    padding-top: 105px;
    padding-bottom: 105px;
    background: #0B0B0B;
}

.design__img {}

.design__content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.design__content-block__1 {
    display: flex;
    width: 450px;
    height: 200px;
}

.design__content-block__1-num {
    width: 30px;
    height: 30px;
    color: #B70021;
}

.design__content-block__1-text {
    margin-left: 75px;
    margin-top: 30px;
}

.design__content-block__2 {
    display: flex;
    width: 450px;
    height: 200px;
}

.design__content-block__2-num {
    width: 30px;
    height: 30px;
    color: #B70021;
}

.design__content-block__2-text {
    padding-left: 75px;
    margin-top: 30px;
}

/*Design part end*/

/*Footer part start*/

.footer {
    background: #690102;
    padding-top: 80px;
    padding-bottom: 25px;
    position: relative;
}

.footer__btn {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__btn a {
    display: inline-block;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    padding: 30px 60px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__btn a:hover {
    background: #770302;
    transition-duration: 1s;
}

.footer__menu ul {
    justify-content: center;
    display: flex;
}

.footer__menu-items {}

.footer__menu-items a {
    border-right: 2px solid #fff;
    padding: 0 20px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}


.footer__menu-items__end a {
    border-right: none;
}

/*Footer part end*/